<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2021. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hryvinskyi_pagespeed>
            <css>
                <extreme_lazy_load>
                    <enabled>1</enabled>
                    <only_deferred>0</only_deferred>
                    <enabled_timeout>1</enabled_timeout>
                    <timeout>50000</timeout>
                    <delay_events>scroll,mousemove,touchstart</delay_events>
                </extreme_lazy_load>
            </css>
        </hryvinskyi_pagespeed>
    </default>
</config>
